@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Contrail+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    overflow-x: hidden;
}

/* header principal */
header{
    background-image:  url(imagens/background-principal.jpg);
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.itens-menu{
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    padding: 10px;
}

.itens-menu a{
    margin: 20px 60px 0px 60px;
    text-decoration: none;
    color: white;
}

.itens-menu a:hover{
    margin-top: 17px;
    color: rgba(255, 255, 255, 0.801);
}

.text-header{
    color: white;
    padding-top: 20%;
    padding-left: 10%;
    font-family:'Kalam', 'cursive';
}

.text-header h1{
    font-size: 83px;
}


.text-header p{
    margin-top: -3%;
    margin-left: 3%;
    width: 430px;
    font-size: 30px;
    line-height: 120%;
}

/* container-2: serviços */

.container-2{
    background: #1d1d1d;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 3%;
    
}

.container-2 .cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container-2 .cards .card{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}


h2{
    color: white;
    font-family:'Contrail One', 'cursive';
    font-size: 40px;
    letter-spacing: 1px;
 }

 h2:hover{
    cursor: pointer;
 }

.img-back{
    width: 200px;
    height: 200px;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)); 
}

.img-front{
    width: 125px;
    height: 125px;

}

.img-front, h3{
    position: absolute;
    align-items: center;
    justify-content: center;
}

h3{
    color: white;
    font-family: 'contrail one', 'cursive';
    margin-top: 73%;
}


/* <!--container 3: time--> */

.container-3{
    background: #1d1d1d;
    justify-content: center;
    padding-top: 2%;
}

.container-box{
    display: flex;
    align-items: center;
    margin: 0px 50px 0px 50px;
    flex-direction: row-reverse;
    height: 80vh;
    margin-top: -3%;
}

.container-box p{
    color: white;
    font-size: 34px;    
    margin-right: 5%;
    font-family: 'Kalam', 'cursive';
}

.container-box img{
    width: 500px;
}

#h2-time{
    justify-content: center;
    display: flex;
}



/* <!--container 4: Galeria--> */

.container-4{
    background: #1d1d1d;
}

.div-contato{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 4%;
}

.container-4 .div-contato .input-row{
    display: flex;
    flex-direction: column;
}

.container-4 .div-contato .input-row input {
    padding: 20px 30px;
    width: 110%;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.05);
    border: none;
    outline: none;
    font-size: 1em;
    color: white;
    margin: 18px 0px 18px 0px;
    font-family: 'contrail one';
    font-weight: 200;
}

input::placeholder{
    color: white;
}

#h2-cont{
    display: flex;
    justify-content: center;
}

/*FOOTER*/

footer{
    background: #1d1d1d;
    padding-top: 30px;
}

.fim a{
    color: white;
    text-decoration: none;
}
.fim a:hover{
    text-decoration: underline;
}

.fim p{
    color: white;
}

.fim{
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
}
